<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:jdbc.properties</value>
				<value>classpath:webconfig.properties</value>
				<value>classpath:jedis.properties</value>
			</list>
		</property>
	</bean>

	<bean id="taskExecutor" class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">
		<property name="corePoolSize" value="8" />
		<property name="maxPoolSize" value="128" />
		<property name="queueCapacity" value="25" />
	</bean>

	<import resource="applicationContext-mysql.xml" />
	<import resource="applicationContext-jdbc.xml" />
	<import resource="applicationContext-dao.xml" />
	<import resource="applicationContext-redis.xml" />
	<import resource="applicationContext-service.xml" />

</beans>