<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<bean id="userDaoRedisImpl" class="com.lodogame.game.dao.impl.redis.UserDaoRedisImpl">
	</bean>

	<bean id="systemHeroDaoRedisImpl" class="com.lodogame.game.dao.impl.redis.SystemHeroDaoRedisImpl">
	</bean>

	<bean id="systemUserLevelDaoRedisImpl" class="com.lodogame.game.dao.impl.redis.SystemUserLevelDaoRedisImpl">
	</bean>

</beans>